@import "tailwindcss";
@import 'primeicons/primeicons.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body { 
  background-color: var(--body-bg);
}

:root {
  --body-bg: var(--p-surface-0);
}

:root[class="dark"] {
  --body-bg: var(--p-surface-900);
}

.center {
  position: fixed;
  inset: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.center-vert {
  margin-top: auto;
  margin-bottom: auto;
}

.center-n {
  margin: auto;
}